body{
    height: 120vh;
    background: linear-gradient(black, rgb(44, 44, 44));
}

main{
    border: 2px solid red;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgb(136, 136, 136) 0px 0px 20px;
    font-weight: 600;
    height: 75vh;
}

#cinema{
    width: 390px;
    margin-left: 12px;
    height: 210px;
    margin-bottom: 30px;
}


#imagem1, #imagem2, #imagem3, #imagem4{
    margin-top: 15px;
    margin-left: 15px;
    width: 360px;
    height: 220px;
    margin-bottom: 450px;
    border-radius: 20px;
    border: solid rgb(230, 202, 150) 2px;
}

#imagem2{
    margin-bottom: 450px;
}

#imagem3{
    margin-bottom: 330px;
}

#imagem4{
    margin-bottom: 260px;
}

p{
    text-align: justify;
    font-size: 17px;
}

h5{
    padding-bottom: 10px;
}

#t4{
    margin-bottom: 10px;
}

nav{
    display: flex;
    justify-content: end;
    padding: 20px;
}

nav>ul>li>a{
    color: bisque;
    border: 2px solid red;
    padding: 7px;
    border-radius: 10px;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
}

nav>ul>li>a:visited{
    color: aliceblue;
}