body{
    height: 150vh;
    background: linear-gradient(black, rgb(44, 44, 44));
}


main{
    border: 2px solid red;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgb(136, 136, 136) 0px 0px 20px;
    font-weight: 600;
    height: 105vh;
}

#cinema2{
    width: 390px;
    height: 210px;
    margin-bottom: 30px;
    margin-top: -15px;

}


main>.container>img, main>.container2>img{
    margin: 20px;
    width: 220px;
    height: 200px;
}

.container{
    display: flex;
}

.container2{
    display: flex;
    justify-content: end;
}


p{
    font-size: 20px;
    color: white;
}

h1{
    margin-top: 80px;
    font-size: 25px;
    color: rgb(255, 213, 161);
    margin-bottom: 20px;
}

nav{
    display: flex;
    justify-content: end;
    padding: 20px;
    margin-top: -20px;
}

nav>ul>li>a{
    color: bisque;
    border: 2px solid red;
    padding: 7px;
    border-radius: 10px;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
}

nav>ul>li>a:visited{
    color: aliceblue;
}

#cinema{
    width: 390px;
    margin-left: 0px;
    height: 210px;
    margin-bottom: 30px;
}